html, body{
  margin: 0;
  background-color: #b3c6f7;
  color: #133b07;
  background-image: url(/public/images/326220250n.jpg);
}
.App {
  text-align: center;
}
.App-logo {
  height: 5vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #2deee4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes slideInBottom{
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    }
}
.slide-In-Bottom{
  animation-duration:1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-name: slideInBottom;
}
.footer {
  padding:15px;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 14px;
  color: #fffafa;
  background-color: #eee;
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  100% {
    transform: translateX(0%);
  }
  0% {
    transform: translateX(10%);
  }
}
@keyframes slideInTop {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInBottom {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInBottomTechnology {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}
.slide-in-left {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInLeft;
}
.slide-in-right {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInRight;
}
.slide-in-top {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInTop;
}
.animate-charcter
{
  background-image: linear-gradient(-225deg,#0931F9 ,#06D146,#17ac0a,#FF8000,#d129f3 ,#d129f3,#FF8000,#110842,#06D146);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.animate-charcter-2{
  background-image: linear-gradient(-225deg,#0931F9 ,#06D146,#17ac0a,#FF8000,#d129f3 ,#d129f3,#FF8000,#110842,#06D146);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 15s linear infinite;
}
.animate-charcter-1{
  background-image: linear-gradient(-225deg,#4455f0, #15f032,#9c1ef0 , #3f0606,#06D146, #f55309);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s linear infinite;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}